.expenses {
  /* position: relative; */
}

.expenses__container {
  width: 89%;
  margin: 0 auto;
  padding: 40px 0px;
}
.expenses__details {
}
.expenses__date {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15%;
}
