.addexpenses {
}
.container {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}
.content {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  height: 84%;
}
.body {
  border-top: 1px solid teal;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: white;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  transition: all 0.5s;
}
.category {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  height: 60px;
  background-color: rgb(233, 233, 233);
  margin-bottom: 10px;
}
.category button {
  width: 48%;
  height: 50px;
  background-color: rgb(233, 233, 233);
  border: 0;
  transition: all 0.7s;
}

.checkb:focus {
  background-color: #fff;

  border-radius: 10px;
}

.open {
  bottom: -30%;
}
