.addexpenses {
}
.container {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}
.content {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  height: 84%;
}
.body {
  width: 100%;
  position: absolute;
  bottom: -132%;
  display: flex;
  background-color: #fff;
  flex-direction: column;
  border-radius: 10px;
  height: 140%;
  transition: all 0.5s;
  border: 0.5px solid teal;
}
.category {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  height: 60px;
  background-color: rgb(233, 233, 233);
  margin-bottom: 10px;
}
.category button {
  width: 48%;
  height: 50px;
  background-color: rgb(233, 233, 233);
  border: 0;
  transition: all 0.7s;
}
.category .checkb {
  background-color: white;
  border-radius: 10px;
}

/* .checkb:focus {
  background-color: #fff;

  border-radius: 10px;
} */
/* .checkb {
  background-color: red;
  border-radius: 10px;
  border: 2px red;
} */

.open {
  bottom: -30%;
}
