.money__total {
  letter-spacing: 3px;
}
.money__expenses {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  color: black;
  font-weight: 100;
}
.money__income {
  display: flex;
  color: rgb(25, 25, 25);
  justify-content: space-between;
  font-weight: 100;
}
