.numpad {
  width: 100%;
  height: 58%;
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  /* padding-bottom: 25%; */
}
.numpadrow {
  display: flex;
  width: 90%;
  height: 25%;
  margin: 0 auto;
}
.numpadrow button {
  width: 33.3%;
  height: 100%;
  background: transparent;
  border: 0px solid teal;
}
.numpad input {
  padding: 10px 10px;
  font-size: 20px;
}
