.login {
  width: 100%;
  margin: 0 auto;
  margin-top: 30%;
  height: 100vh;
  /* background: linear-gradient(
    180deg,
    #f1f5f8 0%,
    #ebf3fa 0.01%,
    #dde7f3 53.92%,
    #e6f0f9 100%
  ); */
  padding: 60px;

  color: #fff;
}
.login a {
  color: #fff;
}

.login form {
  display: flex;
  flex-direction: column;
}
.login h1 {
  margin-bottom: 10px;
}
.login span {
  margin-bottom: 5px;
}
.login label {
  margin-bottom: 5px;
}
.login input {
  padding: 7px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
