.login {
  width: 100%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 60px;
  position: relative;
  color: #fff;
}
.login a {
  color: #fff;
}

.login form {
  text-align: left;
  display: flex;
  flex-direction: column;
}
.login h1 {
  margin-bottom: 10px;
}
.login span {
  margin-bottom: 10px;
}
.login label {
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
}

button {
  padding: 7px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
